@{
    ViewData["Title"] = "Home Page";
}


<style>
    .pb-3 {
        background-image: url('https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_1.5/f_auto/q_auto/dpr_1.5/f_auto/q_auto/dpr_1.5/c_scale,w_1500/ncom/en_US/amiibo/amiibo-lineup-img');
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<main role="main" class="pb-3 w-100" style="margin-bottom:65px">
    <div class="container align-middle shadow">
        <br />
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner w-100">
                <div class="item active">
                    <a href="">
                        <img class="w-100" src="~/media/Slide Show Banner/giphy-ezgif.com-webp-to-gif-converter.gif" alt="Los Angeles">
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <img class="w-100" src="~/media/Slide Show Banner/3ohfFxoLUgfHh88xcQ-ezgif.com-webp-to-gif-converter.gif" alt="Chicago">
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <img class="w-100" src="~/media/Slide Show Banner/l41YouCUUcreUabHW-ezgif.com-webp-to-gif-converter.gif" alt="New york">
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <img class="w-100" src="~/media/Slide Show Banner/zFXOvILbZfXqg-ezgif.com-webp-to-gif-converter.gif" alt="Chicago">
                    </a>
                </div>
            </div>

            <!--clients end -->
            @* <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a> *@
        </div>
    </div>
</main>
